{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">

        <div class="col-sm-8 col-sm-offset-2 text-center">
            <img src="{{ asset('bundles/project3website/images/food-guru-logo-medium.png') }}" alt="logo" class="img-responsive center-block gerechten resize-logo-medium" />
            <div class="col-sm-12">
                <h3 class="margin-bottom-0 semibold">
                    {{ gerecht.naam|default() }}
                </h3>
            </div>

            <div class="full-image noprint">
                <img src="{{ gerecht.foto }}" alt="{{ gerecht.naam|default("-") }}">
            </div>

            <div class="detail minusfix">
                <div class="col-sm-7 bordered">
                    <p class="text-left margin-top-0-5em">{{ gerecht.beschrijving|default() }}</p>
                </div>
                <div class="col-sm-2 bordered">
                    <p class="margin-top-0-5em"><span class="glyphicon glyphicon-time"></span> {{ gerecht.bereidingstijd|default(0) }} min</p>
                </div>
                <div class="col-sm-3 bordered">
                    <p class="margin-top-0-5em">{% for i in 0..gerecht.rating|default(5) %}
                        <span class="glyphicon glyphicon-star-empty"></span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

    <div class="col-sm-8 col-sm-offset-2 plusfix">

        {#-------------INGREDIENTEN-------------#}
        <div class="col-sm-5 bordered">
            <p class="padding-top-1-2em semibold margin-top-0-5em text-center margin-top-1-75em">INGREDIENTEN</p>
            <p class="col-sm-12 wel-niet">
                <span class="pull-right">NIET</span>
                <span class="pull-right padding-right-8">WEL</span>
            </p>
            <ul class="col-sm-12">
                {% for ingredient in gerecht.ingredienten|default() %}
                    <li class="col-sm-12 list-unstyled">
                        <hr>
                        <span class="col-sm-8">{{ ingredient.naam|default('naam') }}</span>
                        <span class="col-sm-2 pull-right"><input type="checkbox"></span>
                        <span class="col-sm-2 pull-right"><input type="checkbox" checked></span>
                    </li>
                {% endfor %}
            </ul>
            <p class="btn bordered shoppinglist col-sm-12 text-center">MAAK SHOPPINGLIJST</p>
        </div>

        {#-------------SHOPPINGLIJSTJE-------------#}
        <div class="col-sm-5 col-sm-offset-2 bordered">
            <p class="padding-top-1-2em semibold margin-top-0-5em text-center margin-top-1-75em">SHOPPINGLIJSTJE</p>
            <p class="col-sm-12 wel-niet">
                <span class="pull-right">PRIJS/ST</span>
            </p>
            <ul class="col-sm-12">
                {% for ingredient in gerecht.ingredienten %}
                    <li class="col-sm-12 list-unstyled">
                        <hr> {{ ingredient }} <span class="pull-right">&euro; 3,15</span>
                    </li>
                {% endfor %}
            </ul>
            <p class="btn text-center bordered col-sm-12 button-black">TOEVOEGEN AAN SHOPPINGLIJSTJE</p>
            <p class="btn text-center bordered col-sm-12 button-black pull-right shoppinglist mail">MAIL</p>
        </div>
    </div>

    {#-------------RECEPT-------------#}
    <div class="col-sm-8 col-sm-offset-2 plusfix">
        <div class="col-sm-12 bordered margin-bottom-0">
            <p class="padding-top-1-2em semibold text-center margin-top-1-75em">RECEPT</p>
            <div class="col-sm-9">
                <p class="margin-top-0">BENODIGDHEDEN(4personen)</p>
                {% if gerecht %}
                    <p>{{ gerecht.benodigdheden|raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>


    {#-------------STAPPEN-------------#}
    {% if gerecht %}
        <div class="col-sm-8 col-sm-offset-2">
            {% for stap in gerecht.stappen %}
                <div class="col-sm-12 bordered margin-bottom-0">
                    <div class="col-sm-2">
                        <p class="margin-top-0-5em">{{ stap.stapnummer }}
                        <input type="checkbox" style="margin-left:0.7em; margin-top:-0.6em;"></p>
                    </div>
                    <div class="col-sm-10">
                        <p>{{ stap.tekst }}</p>
                    </div>
                </div>
            {% endfor %}
            <a class="btn button-black pull-right margin-top-3em bordered"href="javascript:window.print()">PRINT</a>
            <a class="btn button-black pull-right margin-top-3em bordered" href="{{ path('project3_gerecht_save') }}">SLA OP IN MIJN GERECHTEN</a>
        </div>

    {% endif %}

    {#-------------REVIEWS-------------#}
    {#<div class="col-sm-8 col-sm-offset-2">#}
        {#<p class="padding-top-1-2em">REVIEWS</p>#}
        {#<div class="receptlist">#}
            {#<div class="col-sm-12">#}
                {#<p>#}
                    {#<span class="optimized">Door Phedra op 28/08/2017</span>#}
                    {#<br> Heel lekker gegeten! Makkelijk klaar te maken.#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="receptlist">#}
            {#<div class="col-sm-12">#}
                {#<p>#}
                    {#<span class="optimized">Door Robbert op 27/08/2017</span>#}
                    {#<br> Duurde langer dan verwacht om klaar te maken maar was het waard, weer één om mee uit te pakken!#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#-------------SCHRIJF EEN REVIEW-------------#}
    {#<div class="col-sm-8 col-sm-offset-2 plusfix">#}
        {#<p class="padding-top-1-2em">SCHRIJF EEN REVIEW</p>#}
        {#<textarea name="review" class="bordered" cols="100" rows="5">#}

        {#</textarea>#}
    {#</div>#}

    {#<div class="col-sm-8 col-sm-offset-2">#}
        {#<p class="btn bordered plusfix margin-top-0-5em">PLAATS REVIEW</p>#}
    {#</div>#}

    </div>
</div>

{% endblock %}
