{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">

        <img src="{{ asset('bundles/project3website/images/food-guru.png') }}" alt="logo" class="img-responsive center-block" />
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="title">
                    Chicken wraps
                </h3>
            </div>

            <div class="full-image">
                <img src="{{ asset('bundles/project3website/images/chilli-chicken-wraps.jpg') }}" alt="food">
            </div>

            <div class="detail minusfix">
                <div class="col-md-6 bordered">
                    <p class="text-left">{{ gerecht.beschrijving|default("-") }}</p>
                </div>
                <div class="col-md-2 bordered">
                    <p>{{ gerecht.bereidingstijd|default(0) }} min</p>
                </div>
                <div class="col-md-4 bordered">
                    <p>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>

    {#-------------INGREDIENTEN-------------#}
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-5 bordered">
                <p class="plusfix"> WELKE INGREDIENTEN</p>
                <div class="col-md-offset-1 plusfix">


                    <div class="col-md-12">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-12 col-md-2 col-md-offset-2 text-center">
                            <p class="optimized">WEL</p>
                        </div>
                        <div class="col-md-12 col-md-2 ">
                            <p class="optimized">NIET</p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <ul class="col-md-7">
                            {% for ingredient in gerecht.ingredienten %}
                                <li>{{ ingredient.naam }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="col-md-2 col-md-offset-1">
                            <li class="list-unstyled">v</li>
                            <li class="list-unstyled">v</li>
                            <li class="list-unstyled">v</li>
                            <li class="list-unstyled">v</li>
                            <li class="list-unstyled">v</li>
                            <li class="list-unstyled">v</li>
                        </ul>
                        <ul class="col-md-2">
                            <li class="list-unstyled">x</li>
                            <li class="list-unstyled">x</li>
                            <li class="list-unstyled">x</li>
                            <li class="list-unstyled">x</li>
                            <li class="list-unstyled">x</li>
                            <li class="list-unstyled">x</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12">
                    <p class="btn shoppinglist bordered text-center">MAAK SHOPPINGLIJST</p>
                </div>
            </div>

    {#-------------SHOPPINGLIJSTJE-------------#}
        <div class="col-md-5 col-md-offset-2 bordered">
        <p class="plusfix"> SHOPPINGLIJSTJE</p>
            <div class="col-md-offset-1 plusfix">
                <li class="col-md-12 list-unstyled">
                    <div class="col-md-5 col-md-offset-6">
                        <p>PRIJS/ST</p>
                    </div>
                </li>
                <ul class="col-md-6">
                    <li>Tomaten</li>
                    <li>Look</li>
                    <li>Courgette</li>
                    <li>Ajuin</li>
                </ul>
                <ul class="col-md-6">
                    <li class="list-unstyled col-md-offset-2">&euro; 3,15</li>
                    <li class="list-unstyled col-md-offset-2">&euro; 0,30</li>
                    <li class="list-unstyled col-md-offset-2">&euro; 2,50</li>
                    <li class="list-unstyled col-md-offset-2">&euro; 2,25</li>
                </ul>
            </div>
                <p class="btn text-center bordered col-md-10 col-md-offset-1 mail-shop">TOEVOEGEN AAN SHOPPINGLIJSTJE</p>
                <p class="btn text-center bordered col-md-10 col-md-offset-1 mail-shop">MAIL</p>
        </div>
    </div>

    {#-------------RECEPT-------------#}
    <div class="col-md-8 col-md-offset-2 plusfix">
        <p class="plusfix">BEREIDINGSWIJZE</p>
        <div class="col-md-12 bordered">
            <div class="col-md-4">
                <p class="plusfix">BENODIGDHEDEN(4personen)</p>
                <p>{{ gerecht.benodigdheden|raw }}</p>
            </div>
        </div>
    </div>


    {#-------------STAPPEN-------------#}
    <div class="col-md-8 col-md-offset-2">
        {% for stap in gerecht.stappen %}
            <div class="receptlist">
                <div class="col-md-1">
                    <p class="col-md-12">{{ stap.stapnummer }}</p>
                    <input class="col-md-12" type="checkbox" style="margin-left:0.7em; margin-top:-0.6em;">
                </div>
                <div class="col-md-11">
                    <p>{{ stap.tekst }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-md-8 col-md-offset-2">
        <p class="btn pull-right bordered plusfix">PRINT</p>
        <p class="btn pull-right bordered plusfix">SLA OP IN MIJN GERECHTEN</p>
    </div>

    {#-------------REVIEWS-------------#}
    <div class="col-md-8 col-md-offset-2">
        <p class="plusfix">REVIEWS</p>
        <div class="receptlist">
            <div class="col-md-12">
                <p>
                    <span class="optimized">Door Phedra op 28/08/2017</span>
                    <br> Heel lekker gegeten! Makkelijk klaar te maken.
                </p>
            </div>
        </div>
        <div class="receptlist">
            <div class="col-md-12">
                <p>
                    <span class="optimized">Door Robbert op 27/08/2017</span>
                    <br> Duurde langer dan verwacht om klaar te maken maar was het waard, weer één om mee uit te pakken!
                </p>
            </div>
        </div>
    </div>

    {#-------------SCHRIJF EEN REVIEW-------------#}
    <div class="col-md-8 col-md-offset-2 plusfix">
        <p class="plusfix">SCHRIJF EEN REVIEW</p>
        <textarea name="review" class="bordered" cols="100" rows="5">

        </textarea>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <p class="btn bordered plusfix">PLAATS REVIEW</p>
    </div>

    </div>
</div>

{% endblock %}