{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <img src="{{ asset('bundles/project3website/images/food-guru-logo-medium.png') }}" alt="logo" class="img-responsive center-block gerechten resize-logo-medium" />
                <h3 class="margin-bottom-1em semibold">
                    {{ gerecht.naam|default() }}
                </h3>

        </div>
        <div class="col-sm-8 col-sm-offset-2 text-center container-white padding-top-3em">
            <div class="full-image noprint padding-top-1-2em">
                <img src="{{ gerecht.fotoRechthoek }}" alt="{{ gerecht.naam|default("-") }}">
            </div>

    <div class="col-sm-12 margin-bottom-3em padding-0 ">

        <div class="detail">

                <div class="col-sm-7 bordered">
                    <p class="text-left margin-top-0-5em">{{ gerecht.beschrijving|default() }}</p>
                </div>

                <div class="col-sm-2 bordered">
                    <p class="margin-top-0-5em"><span class="glyphicon glyphicon-time"></span> {{ gerecht.bereidingstijd|default(0) }} min</p>
                </div>

                <div class="col-sm-3 bordered rating-padding">
                    <fieldset class="rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Awesome - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Awesome - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Awesome - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Awesome - 1 stars"></label>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8 col-sm-offset-2 container-white">

        {#-------------INGREDIENTEN-------------#}
        <div class="col-sm-5 bordered">
            <p class="padding-top-1-2em semibold margin-top-0-5em text-center margin-top-1-75em">INGREDIENTEN</p>
            <p class="col-sm-12 wel-niet">
                <span class="pull-right">HEB IK</span>
            </p>
            <ul class="col-sm-12">
                {% for ingredient in gerecht.ingredienten|default() %}
                    <li class="col-sm-12 list-unstyled">
                        <hr>
                        <span class="col-sm-8">{{ ingredient.naam|default('naam') }}</span>
                        <span class="col-sm-2 pull-right"><input type="checkbox" class="jQueryShopping" checked value="{{ ingredient.naam }}"></span>
                    </li>
                {% endfor %}
            </ul>

            <div class="category">
                <button class="btnnn shoppinglisttext size-buttons-shoppinglijst size-buttons-no-cat semibold" id="shoppinglistbind">MAAK SHOPPINGLIJST</button>
            </div>

        </div>

        {#-------------SHOPPINGLIJSTJE-------------#}
        <div class="generated hidden col-sm-5 col-sm-offset-2 bordered">
            <p class="padding-top-1-2em semibold margin-top-0-5em text-center margin-top-1-75em">SHOPPINGLIJSTJE</p>
            <p class="col-sm-12 wel-niet">
                <span class="pull-right">PRIJS/ST</span>
            </p>
            <ul class="col-sm-12 shoppinglist">
                {% for ingredient in gerecht.ingredienten %}
                    <li class="col-sm-12 list-unstyled hide">
                        <hr>
                        <span class="info-ingredient">{{ ingredient }}</span>
                        <span class="pull-right">&euro; {{ ingredient.prijsDelhaize|default() }}</span>
                    </li>
                {% endfor %}
            </ul>


            <div class="category">
                <button class="btnnn size-buttons-shoppinglijst size-buttons-no-cat semibold" id="addToShoppinglist">TOEVOEGEN AAN SHOPPINGLIJSTJES</button>
                <button class="btnnn size-buttons-shoppinglijst size-buttons-no-cat semibold margin-top-1em">MAIL</button>
                <a href="{{ path('project3_mail',{ id: gerecht.id }) }}">mail test</a>
            </div>
        </div>
    </div>

    {#-------------RECEPT-------------#}
    <div class="col-sm-8 col-sm-offset-2 plusfix">
        <div class="col-sm-12 bordered margin-bottom-0">
            <p class="padding-top-1-2em semibold text-center margin-top-1-75em">RECEPT</p>
            <div class="col-sm-9 padding-bottom-1em">
                <p class="margin-top-0">BENODIGDHEDEN(4personen)</p>
                {% if gerecht %}
                    <p>{{ gerecht.benodigdheden|raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>


    {#-------------STAPPEN-------------#}
    {% if gerecht %}
        <div class="col-sm-8 col-sm-offset-2 container-white padding-bottom-3em">
            {% for stap in gerecht.stappen %}
                <div class="col-sm-12 bordered margin-bottom-0 stap">
                    <div class="col-sm-2">
                        <p class="margin-top-0-5em"><span class="space-number-check">{{ stap.stapnummer }}</span>
                            <input type="checkbox" class="stapnummer" value="{{ stap.stapnummer }}">
                        </p>
                    </div>
                    <div class="col-sm-10 margin-top-0-5em">
                        <p>{{ stap.tekst }}</p>
                    </div>
                </div>
            {% endfor %}

            <div class="category">
                <button class="btnnn semibold margin-top-3em size-buttons-no-cat pull-right instellingen"><a href="javascript:window.print()">PRINT</a></button>
                <button class="btnnn semibold margin-top-3em size-buttons-no-cat pull-right instellingen "><a href="{{ path('project3_gerecht_save') }}">SLA OP IN MIJN GERECHTEN</a></button>
            </div>

        </div>
    {% endif %}
        <div class="col-sm-12">
            <form action="{{ path('shoppinglist_add') }}" method="post">
                <button class="btn btn-primary">toevoegen</button>
            </form>
        </div>
    {#-------------REVIEWS-------------#}
    {#<div class="col-sm-8 col-sm-offset-2">#}
        {#<p class="padding-top-1-2em">REVIEWS</p>#}
        {#<div class="receptlist">#}
            {#<div class="col-sm-12">#}
                {#<p>#}
                    {#<span class="optimized">Door Phedra op 28/08/2017</span>#}
                    {#<br> Heel lekker gegeten! Makkelijk klaar te maken.#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="receptlist">#}
            {#<div class="col-sm-12">#}
                {#<p>#}
                    {#<span class="optimized">Door Robbert op 27/08/2017</span>#}
                    {#<br> Duurde langer dan verwacht om klaar te maken maar was het waard, weer één om mee uit te pakken!#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#-------------SCHRIJF EEN REVIEW-------------#}
    {#<div class="col-sm-8 col-sm-offset-2 plusfix">#}
        {#<p class="padding-top-1-2em">SCHRIJF EEN REVIEW</p>#}
        {#<textarea name="review" class="bordered" cols="100" rows="5">#}

        {#</textarea>#}
    {#</div>#}

    {#<div class="col-sm-8 col-sm-offset-2">#}
        {#<p class="btn bordered plusfix margin-top-0-5em">PLAATS REVIEW</p>#}
    {#</div>#}

    </div>
</div>

{% endblock %}
