{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">

        <img src="{{ asset('bundles/project3website/images/food-guru.png') }}" alt="logo" class="img-responsive center-block" />
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="title">
                    {{ gerecht.naam|default() }}
                </h3>
            </div>

            <div class="full-image">
                <img src="{{ gerecht.foto }}" alt="{{ gerecht.naam|default("-") }}">
            </div>

            <div class="detail minusfix">
                <div class="col-sm-6 bordered">
                    <p class="text-left">{{ gerecht.beschrijving|default() }}</p>
                </div>
                <div class="col-sm-2 bordered">
                    <p>{{ gerecht.bereidingstijd|default(0) }} min</p>
                </div>
                <div class="col-sm-4 bordered">
                    <p>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>

    {#-------------INGREDIENTEN-------------#}
        <div class="col-sm-8 col-sm-offset-2">
            <div class="col-sm-5 bordered">
                <p class="plusfix"> WELKE INGREDIENTEN</p>
                    <div class="col-sm-12">

                        <div class="col-sm-12  ">
                            <p class="optimized pull-right">NIET </p>
                            <p class="optimized col-sm-offset-9">WEL </p>
                        </div>
                        <div class="col-sm-12">
                            <ul class="col-sm-7">
                                {% for ingredient in gerecht.ingredienten|default() %}
                                    <li>{{ ingredient.naam|default('naam') }}</li>
                                {% endfor %}
                            </ul>
                            <ul class="col-sm-2 col-sm-offset-1">
                                {% for ingredient in gerecht.ingredienten|default() %}
                                    <li class="list-unstyled">v</li>
                                {% endfor %}
                            </ul>
                            <ul class="col-sm-2">
                                {% for ingredient in gerecht.ingredienten|default() %}
                                    <li class="list-unstyled">x</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <p class="btn btn-default bordered shoppinglist text-center">MAAK SHOPPINGLIJST</p>
            </div>

    {#-------------SHOPPINGLIJSTJE-------------#}
        <div class="col-sm-5 col-sm-offset-2 bordered">
        <p class="plusfix"> SHOPPINGLIJSTJE</p>
            <div class="col-sm-offset-1 plusfix">
                <li class="col-sm-12 list-unstyled">
                    <div class="col-sm-5 col-sm-offset-6">
                        <p>PRIJS/ST</p>
                    </div>
                </li>
                <ul class="col-sm-5">
                    <li>Tomaten</li>
                    <li>Look</li>
                    <li>Courgette</li>
                    <li>Ajuin</li>
                </ul>
                <ul class="col-sm-7">
                    <li class="list-unstyled col-sm-offset-2">&euro; 3,15</li>
                    <li class="list-unstyled col-sm-offset-2">&euro; 0,30</li>
                    <li class="list-unstyled col-sm-offset-2">&euro; 2,50</li>
                    <li class="list-unstyled col-sm-offset-2">&euro; 2,25</li>
                </ul>
            </div>
                <p class="btn btn-default text-center bordered col-sm-12 mail-shop plusfix">TOEVOEGEN AAN SHOPPINGLIJSTJE</p>
                <p class="btn btn-default text-center bordered col-sm-12 mail-shop">MAIL</p>
        </div>
    </div>

    {#-------------RECEPT-------------#}
    <div class="col-sm-8 col-sm-offset-2 plusfix">
        <p class="plusfix">BEREIDINGSWIJZE</p>
        <div class="col-sm-12 bordered">
            <div class="col-sm-9">
                <p class="plusfix">BENODIGDHEDEN(4personen)</p>
                {% if gerecht %}
                    <p>{{ gerecht.benodigdheden|raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>


    {#-------------STAPPEN-------------#}
    {% if gerecht %}
        <div class="col-sm-8 col-sm-offset-2">
            {% for stap in gerecht.stappen %}
                <div class="col-sm-12 bordered">
                    <div class="col-sm-2">
                        <p>{{ stap.stapnummer }}
                        <input type="checkbox" style="margin-left:0.7em; margin-top:-0.6em;"></p>
                    </div>
                    <div class="col-sm-10">
                        <p>{{ stap.tekst }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}


    <div class="col-sm-8 col-sm-offset-2">
        {#<p class="btn pull-right bordered plusfix">PRINT</p>#}
        <a class="btn btn-default pull-right bordered plusfix"href="{{ path('project3_gerecht_print',{id: gerecht.id}) }}">PRINT</a>
        {#<p class="btn pull-right bordered plusfix">SLA OP IN MIJN GERECHTEN</p>#}
        <a class="btn btn-default pull-right bordered plusfix"href="{{ path('project3_gerecht_save') }}">SLA OP IN MIJN GERECHTEN</a>
    </div>

    {#-------------REVIEWS-------------#}
    {#<div class="col-sm-8 col-sm-offset-2">#}
        {#<p class="plusfix">REVIEWS</p>#}
        {#<div class="receptlist">#}
            {#<div class="col-sm-12">#}
                {#<p>#}
                    {#<span class="optimized">Door Phedra op 28/08/2017</span>#}
                    {#<br> Heel lekker gegeten! Makkelijk klaar te maken.#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="receptlist">#}
            {#<div class="col-sm-12">#}
                {#<p>#}
                    {#<span class="optimized">Door Robbert op 27/08/2017</span>#}
                    {#<br> Duurde langer dan verwacht om klaar te maken maar was het waard, weer één om mee uit te pakken!#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    {#-------------SCHRIJF EEN REVIEW-------------#}
    {#<div class="col-sm-8 col-sm-offset-2 plusfix">#}
        {#<p class="plusfix">SCHRIJF EEN REVIEW</p>#}
        {#<textarea name="review" class="bordered" cols="100" rows="5">#}

        {#</textarea>#}
    {#</div>#}

    {#<div class="col-sm-8 col-sm-offset-2">#}
        {#<p class="btn bordered plusfix">PLAATS REVIEW</p>#}
    {#</div>#}

    </div>
</div>

{% endblock %}