{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <a href="{{ path('project3_website_home') }}">
                <img src="{{ asset('bundles/project3website/images/food-guru-logo-medium.png') }}" alt="logo" class="img-responsive center-block gerechten resize-logo-medium" />
            </a>
            <div class="col-sm-12 ">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="margin-bottom-1em">
                        ALLE GERECHTEN
                    </h3>
                    {% for c in categories %}
                        <div class="text-center category col-sm-4">
                            <form action="{{ path('project3_gerecht_query',{limit:'10'}) }}">
                                <input required name="searchinput" type="text" class="hidden" value="{{ c.naam }}" >
                                <button class="btnnn size-category" type="submit">
                                    {{ c.naam }}
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-12 text-center">

            <div class="col-sm-12">
                {% for gerecht in gerechten %}
                    <div class="col-sm-4 text-center quickfix container-white padding-top-2em">

                        <a href="{{ path('project3_gerecht_detail', {id: gerecht.id }) }}">
                            <div class="img-responsive">
                                <img src="{{ gerecht.fotoVierkant|default('-') }}" alt="{{ gerecht.naam|default('-') }}">
                            </div>
                        </a>

                        <div class="col-sm-8 col-sm-offset-2">
                            <p class="bold margin-bottom-6">{{ gerecht.naam|default('-') }}</p>
                        </div>

                        <div class="col-sm-5 col-sm-offset-1">
                            <p><span class="glyphicon glyphicon-time"></span> {{ gerecht.bereidingstijd|default(10) }} min</p>
                        </div>

                        <div class="col-sm-6">
                            {% for i in 0..gerecht.rating|default(4) %}
                                <span class="glyphicon glyphicon-star"></span>
                            {% endfor %}
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include 'Project3WebsiteBundle:Partials:footer.html.twig' %}
{% endblock %}
