{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <img src="{{ asset('bundles/project3website/images/food-guru.png') }}" alt="logo" class="img-responsive center-block gerechten" />

            <div class="col-sm-12">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="title">
                        HIER HEB JE AL ONZE GERECHTEN
                    </h3>
                    {% for c in categories %}
                        <div class="col-sm-4">
                            <p class="text-center category">{{ c.naam|default() }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="col-sm-12">
                {% for gerecht in gerechten %}
                    <div class="col-sm-6 text-center quickfix">
                        <a href="{{ path('project3_gerecht_detail', {id: gerecht.id }) }}">
                            <div class="img-responsive">
                                <img class="col-md-12" src="{{ gerecht.foto|default('-') }}" alt="{{ gerecht.naam|default('-') }}">
                            </div>
                        </a>

                        <div class="col-sm-6 col-sm-offset-3">
                            <p>{{ gerecht.naam|default('-') }}</p>
                        </div>

                        <div class="col-sm-5 col-sm-offset-1">
                            <p>{{ gerecht.bereidingstijd|default(10) }} min</p>
                        </div>

                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}