{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <img src="{{ asset('bundles/project3website/images/food-guru.png') }}" alt="logo" class="img-responsive center-block gerechten" />

            <div class="col-sm-12">
                <div class="col-sm-8 col-sm-offset-2">
                    <h3 class="title">
                        GERECHTEN MET KIP
                    </h3>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3"></div>

                {% for categorie in categories %}
                    <div class="col-sm-2">
                        <p class="text-center category">{{ categorie.naam|default('-') }}</p>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            {% if gerechten|length > 0 %}
                {% for gerecht in gerechten %}
                    <div class="col-sm-6 text-center quickfix">
                        <a href="{{ path('project3_gerecht_detail', {id: gerecht.id }) }}">
                            <div class="img-responsive">
                                <img class="col-sm-12" src="{{ gerecht.foto }}" alt="{{ gerecht.naam }}">
                            </div>
                        </a>

                        <div class="col-sm-6 col-sm-offset-3">
                            <p>{{ gerecht.naam|default() }}</p>
                        </div>

                        <div class="col-sm-5 col-sm-offset-1">
                            <p>{{ gerecht.bereidingstijd|default(10) }} min</p>
                        </div>

                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-8 col-sm-offset-2 text-center quickfix">
                    <h2>
                        Er werden geen gerechten gevonden.. <span>
                        </span>
                    </h2>

                    <form action="{{ path('project3_gerecht_query') }}">
                        <div class="input-group stylish-input-group">
                            <input required type="text" class="form-control text-center" placeholder="probeer het nog eens.." >
                            <span class="input-group-addon">
                              <button type="submit" class="glyphicon glyphicon-search">

                              </button>
                            </span>
                        </div>
                    </form>

                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}