{% extends "@Project3Website/layout.html.twig" %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="{{ asset('bundles/project3website/images/food-guru-logo-medium.png') }}" alt="logo" class="img-responsive center-block gerechten" />

                <div class="col-md-8 col-md-offset-2">
                    <h3 class="title">
                        JOUW INSTELLINGEN
                    </h3>
                </div>

                {# E-MAIL #}
                <div class="col-sm-8 text-left"></div>

                <input class="col-md-4" type="text" value="{{ contact.email }}">
                {#
                    <form method="POST" action="{{ path('project3_account_instellingen') }}" class="general-form">
                        <div class="row">
                            {{ form_start(form) }}
                            <div class="col-sm-12">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_label(form.locatie) }}
                                {{ form_widget(form.locatie) }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_label(form.tel) }}
                                {{ form_widget(form.tel) }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_label(form.adres) }}
                                {{ form_widget(form.adres) }}
                            </div>
                            <div class="col-sm-12">
                                {{ form_widget(form._token) }}
                                <input type="submit" class="submit" value="opslaan">
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </form>
                #}

            </div>
        </div>
    </div>

{% endblock %}