{% extends "@Project3Website/layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1>Aanpassen </h1>
                    {{ form_start(edit_form) }}

                        {#EMAIL#}
                        {{ form_label(edit_form.email, 'Email', {'label_attr': {'class': 'control-label'}}) }}
                        {{ form_errors(edit_form.email) }}
                        {{ form_widget(edit_form.email, { "attr":{ "class":"form-control control" } }) }}

                        <input class="btn btn-primary" type="submit" value="opslaan" />

                    {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}