{% extends "@Project3Website/layout.html.twig" %}

{% block content %}


<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <div class="col-sm-6">
                <h1>Nieuw contact</h1>
                {{ form_start(form) }}

                {#EMAIL#}
                {{ form_label(form.email, 'Email', {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, { "attr":{ "class":"form-control control" } }) }}

                <input class="btn btn-primary" type="submit" value="Maak aan &#65515;" />

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

