{% extends "@Project3Website/layout.html.twig" %}

{% block content %}
    <img src="{{ asset(logo_med_img) }}" alt="{{ logo_med_alt }}" class="img-responsive center-block"/>
    <div class="registerform">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="col-sm-8 col-sm-offset-2">
                {{ form_start(form) }}
                <div class="form_group">
                    {{ form_row(form.username, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form_group">
                    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form_group">
                    {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form_group">
                    {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="text-center">
                    <button type="submit" class="semibold margin-top-3em aanpassen-button-login">
                        <i class="fa fa-btn fa-user"></i> registreer
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    {% include 'Project3WebsiteBundle:Partials:footer.html.twig' %}
{% endblock %}
